NODE_ENV=local or production
DB_NAME=phm
USER_NAME=any
PASSWORD=any
DB_PORT=5432
PORT=3000
HOSTNAME=localhost
DILECT=postgres
JWT_REFRESH_EXPIRY = 2m
JWT_MAIL_EXPIRY = 1d
JWT_HASH_ALGORITHM=RS256
API_URL=http://localhost:4000/
EMAIL_API_KEY = ENTER_EMAIL_API_KEY
SMTP_MAIL=SMTP_MAIL
SMTP_HOST=SMTP_EMAIL_HOSTNAME_FOR_POSTMARK
DOMAIN=http://localhost:3000
RECAPTCHA_SECRET=YOUR_RECAPTCHA_SECRET
DO_SPACES_ENDPOINT=
DO_SPACES_KEY=youraccesskey
DO_SPACES_SECRET=yoursecretkey
DO_SPACES_NAME=yourspacesname
DO_SPACES_CDN_ENDPOINT=
DO_SPACES_URL_ENDPOINT=
